<article>
  <div class="post-metadata">
    <span class="post-date">{{ include.post.date | date: "%b %-d, %Y" }}</span>
    <br>
    <span class="post-title">{{ include.post.title | capitalize }}</span>
  </div>
  {% if include.post.author %}
    {% assign author_data = site.data.authors[include.post.author] %}
    {% assign other_author = site.data.authors | where_exp: "author", "author != include.post.author" | first %}
    {% if other_author %}
      <p>Dear {{ other_author.name | capitalize }},</p>
    {% endif %}
  {% endif %}
  <div class="post-content">
    {{ include.post.content }}
  </div>
  {% if include.post.author %}
    {% if other_author %}
      <p>Love,</p>
      <p>{{ author_data.name | capitalize }}</p>
    {% endif %}
  {% endif %}
</article>