<article>
  <div class="post-metadata">
    <span class="post-date">{{ include.post.date | date: "%b %-d, %Y" }}</span>
    <br>
    <span class="post-title">{{ include.post.title | capitalize }}</span>
  </div>
  {% if include.post.author %}
    {% assign author_data = site.data.authors[include.post.author] %}
  {% elsif include.page.author %}
    {% assign author_data = site.data.authors[include.page.author] %}
  {% endif %}

  {% if author_data %}
    {% if author_data.name == 'Stella' %}
      {% assign other_author = site.data.authors['galen'] %}
    {% elsif author_data.name == 'Galen' %}
      {% assign other_author = site.data.authors['stella'] %}
    {% endif %}
  {% endif %}

  {% if other_author %}
      <p>{{ other_author.name | capitalize }},</p>
  {% endif %}
  <div class="post-content">
    {% if include.post.content %}
      {{ include.post.content }}
    {% elsif include.page.content %}
      {{ include.page.content }}
    {% endif %}
  </div>
  {% if author_data %}
    <p>Love,</p>
    <p>{{ author_data.name | capitalize }}</p>
  {% endif %}
</article>