@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1em;
}

body {
  color: #000;
  background-color: #fff;
  word-wrap: break-word;
  font-family: 'Courier Prime', monospace;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border 0.2s ease-in-out;
}

a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.site-title h1 {
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
}

.site-title h2 {
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

.post-content p {
  text-indent: 0;
}

.post-content p:first-child {
  text-indent: 4ch;
}

blockquote p:first-child {
  text-indent: 0;
}

.post-metadata {
  text-align: right;
  max-width: 50%;
  margin-left: auto;
  margin-right: 0;
  line-height: 1;
}

.post-metadata .post-date {
  font-weight: bold;
}

.post-metadata .post-title {
  font-style: italic;
}

.post-break {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 5em 0;
}

.post-signature {
  text-align: right;
}

.post-signature .post-author {
  font-weight: bold;
  margin-right: 4ch;
}

.post-signature .love {
  margin-right: 8ch;
}


@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #000;
  }

  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .post-break {
    background-color: rgba(255, 255, 255, 0.2);
  }
}