<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {% include header.html %}

    <div id="content">
      {% for post in site.posts %}
      <article>
        <div class="post-metadata">
          <span class="post-date"><p>{{ post.date | date: "%b %-d, %Y" }}</p></span>
          <span class="post-title"><p>{{ post.title | capitalize }}</p></span>
        </div>
        {% if post.author %}
          {% assign author_data = site.data.authors[post.author] %}
          {% assign other_author = site.data.authors | where_exp: "author", "author[0] != post.author" | first %}
          {% if other_author %}
            <p>Dear {{ other_author.name | capitalize }},</p>
          {% endif %}
        {% endif %}
        {{ post.content }}
        {% if post.author %}
          {% if other_author %}
            <p>Love,</p>
            <p>{{ author_data.name | capitalize }}</p>
          {% endif %}
        {% endif %}
      </article>
      {% endfor %}
    </div>

    {% include footer.html %}
  </body>
</html>
